In [1]:
import numpy as np
import pandas as pd
import os
from PIL import Image
import matplotlib.pyplot as plt

In [2]:
images_dir = "data/images"
info_dir = "data/characteristics.csv"

In [3]:
df = pd.read_csv(info_dir)
df.head()

,ID,manufacturer,model,category,mileage,year,gear_box_type,doors,wheel,color,interior_color,vin,leather_interior,deal_type,price,customs
0,0,NISSAN,Juke,Jeep,111111111,2010,Tiptronic,4/5,Left wheel,Carnelian red,Black,JN8AF5MV2BT011450,1,For Sale,7300,0
1,1,HYUNDAI,Santa FE,Jeep,88000,2013,Tiptronic,4/5,Left wheel,Grey,Black,NaN,1,For Sale,13600,0
2,2,CHEVROLET,Cruze,Sedan,140000,2013,Tiptronic,4/5,Left wheel,Silver,Black,NaN,1,For Sale,Price negotiable,640
3,3,TOYOTA,Prius,Sedan,71000,2013,Automatic,4/5,Left wheel,Grey,Black,NaN,1,For Sale,6100,0
4,4,SUZUKI,Grand Vitara,Jeep,155000,2008,Automatic,4/5,Left wheel,Grey,Black,JS3TD54V284130629,0,For Sale,6377,0

In [16]:
for key in df['ID']:
    if key == 5 :
        print(df.loc[key])

ID                               5
manufacturer               HYUNDAI
model                       Sonata
category                     Sedan
mileage                      92000
year                          2013
gear_box_type            Automatic
doors                          4/5
wheel                 Left wheel
color                    Sky blue
interior_color               Grey
vin                            NaN
leather_interior                 0
deal_type                 For Sale
price                         4900
customs                        751
Name: 5, dtype: object

In [18]:
df.color.unique()

array([' Carnelian red ', ' Grey ', ' Silver ', ' Sky blue ', ' Red ',
       ' Black ', ' White ', ' Blue ', nan, ' Pink ', ' Brown ',
       ' Beige ', ' Orange ', ' Green ', ' Yellow ', ' Golden ',
       ' Purple '], dtype=object)